// Import page-specific CSS files here.
@import "home";
@import "show";
@import "show_reservation";
@import "owner_index";
@import "petsitter_index";

#indexh1 {
  font-size: 32px;
  color: #5789a0;
  margin-left: 10px;
}
