img #user_photo {
  border-radius: 50%;
}

.wrapper {
    min-height: calc(100vh - 140px);
    background-color: #ece8d9;
    padding: 60px;
}

.container-edit {
  margin: 40px;
  background-color: white;
  border-radius : 8%;
  padding: 10px 50px;

}

