.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 50px;

}

#photo {
  grid-column: 1 ;
  grid-row: 1 / span 5;
}

.name {

}
