<div class="banner" style="">
  <div class="banner-content">
    <h1>Prête moi ton Clebs!</h1>
    <p>Ton chien est seul aujourd'hui ?</p>
    <div class="searchbar active-purple-4 mb-4">
      <input class="form-control" type="text" placeholder="14 Rue Crespin du Gast, 75011 Paris"aria-label="Search">
    </div>
    <%= link_to "Je m'en occupe!", dogs_path, class: "btn btn-lg" %>
  </div>
</div>
<div class=container">
  <div class="row">
    <% @dogs.each do |dog| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url(<%= dog.photo.url %>);">
          <div class="card-category">Nearby</div>
          <div class="card-description">
            <div>
              <%= link_to "#{dog.name}", dog_path(dog)%>
              <p><%= dog.breed %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
