<div class="banner" style="">
  <div class="banner-content">
    <h1>Prête moi ton Clebs!</h1>
    <p>Ton chien est seul aujourd'hui ?</p>
    <div class="searchbar active-purple-4 mb-4">
      <form action="/dogs" method="get">
        <input class="form-control" type="text" name="address" placeholder="14 Rue Crespin du Gast, 75011 Paris"aria-label="Search" >
        <input type="submit", class="btn btn-lg" value="Je m'en occupe!">
      </form>
    </div>
  </div>
</div>
<div class=container">
  <div class="row">
    <% @dogs.each do |dog| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url(<%= dog.photo.url %>);">
          <div class="card-category">Nearby</div>
            <%= link_to "", dog_path(dog), class: "card-link" %>
          <div class="card-description">
            <div>
              <h2> <%= dog.name %> </h2>
              <p><%= dog.breed %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
