<div class="container">
  <div class="row">
  <div class="row">
    <% @users.each do |user| %>
      <h2><%= user.name %></h2>
    <% end %>

   <!--  <%= link_to "Edit your user profile", user_session_path, class: "btn btn-warning btn-lg" %> -->
    </div>
  </div>
</div>
