  <div class="banner" style="">
    <div class="banner-content">
      <h1>Prête moi ton Clebs!</h1>
      <p>Ton chien est seul aujourd'hui ?</p>
      <button class="button"><span>Je m'en occupe!</span></button>
    </div>
  </div>

  <div class=container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url(https://anipassion.com/ow_userfiles/plugins/animal/breed_image_57177837c32be.jpg);">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Spitz</h2>
            <p>Very cute dog, the cutest</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url(https://vignette.wikia.nocookie.net/animalplanetsthemostextreme/images/2/22/Dog.jpg/revision/latest?cb=20180619214353);">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Jack Russel</h2>
            <p>Very fast, the fastest</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url(https://www.allthingsdogs.com/wp-content/uploads/2018/10/American-Pitbull-Terrier-Sleeping.jpg);">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>American Pitbull Terrier</h2>
            <p>Very strong, the strongest</p>
          </div>
        </div>
      </div>

    <%# @dog.each_slice(3) do |dogs| %>
      <%#div class="row">
        <% dogs.each do |dog| %>
          <%#div class="col-md-4">*dog.name*</div>
        <% end %>
      <%#/div>
    <%# end %>

  </div>
</div>
