<div class="wrapper">
  <h2 id="dashboard_title" class="headers"> Status des clebards </h2>

  <% @reservations.each do |reservation| %>
    <div class="profile-card">
      <div class="blue-div">
      </div>
      <div class="row">
          <div class="col-xs-12 col-md-3">
            <%= cl_image_tag reservation.dog.photo, height: 500, width: 600, crop: :fill, id: "photo" %></div>
          <div class="col-xs-12 col-md-6">
            <h3 class="headers"><%= reservation.dog.name %></h3>
            <p class="headers"><%= reservation.dog.age %></p>
            <p class="headers"><%= reservation.dog.description %></p>
          </div>
          <div class="col-xs-12 col-md-3">
          <button class="btn btn-info">En attente</button>
          <button class="btn btn-warning">Confirmé</button>
          <button class="btn btn-warning">Refusé</button>
          <button class="btn btn-success">Validé</button>
          <%#= link_to "Supprimer ma réservation", dog_reservation_path([:dog_id]),
             method: :delete,
             data: { confirm: "Confirmez-vous votre annulation ?" } %>
          </div>
      </div>
    </div>
  <% end %>
</div>
