<h3> Clebs' status </h3>

  <h2> Haduken</h2>
    <p> 4 ans </p>
    <p> Braque de Weimar </p>

    <p> <strong> Accepted ! </strong> </p>

TODO :
- afficher toutes mes réservations
==> récupérer toutes mes réservations dans reservations#index
==> toutes les afficher avec comme infos :
- nom du chien
- age
- breed
- adress
- statut
