.ap-with-places {
  text-align: left;
  opacity: 0.9;
}

.ap-name {
  color: #5789a0;
}

.ap-adress {
  color: #5789a0;
  text-align: right;
}

.ap-suggestion-icon {
  background-image: url("clebs.png")
}
