<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contacton pour vous indiquer que votre email va être remplacé <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contacton pour vous notifier que votre email a été modifié par <%= @resource.email %>.</p>
<% end %>
